@model IEnumerable<Despesas.Models.Conta>

@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex w-100">
    <h2 class="text-title text-lg m-0">@(ViewContext.RouteData.Values["Controller"].ToString())</h2>
</div>
<div class="mt-3 d-flex flex-grow-1 justify-content-center w-100">
    <div class="p-5 flex-grow-1 rounded-lg bg-white shadow-sm ">
        <a asp-action="Create">
            <Button type='button' class='btn-default rounded px-4 border-0 text-white hover-shadow float-right'>
                Criar novo
            </Button>
        </a>

        <div class='mt-5 table-home overflow-auto' style="max-height: 70vh;">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Valor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Despesa)
                        </th>
                    
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-danger">
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Despesa.Descricao)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>